---
import Features from '../components/Features.astro';
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="YouTube Karaoke Player Pro | Platinum Project IA">
	<main class="space-y-20 mb-20 bg-[#050505]">
		<HeroSection/>
		<Features/>
		<!-- Abbiamo rimosso Stats, Testimonials, Blog e CallToAction perché parlavano cinese -->
	</main>
</Layout>
