---
import Features from '../components/Features.astro';
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="YouTube Karaoke Player Pro | Platinum Project IA">
	<main class="bg-[#050505] space-y-20">
		<HeroSection/>
		<Features/>
	</main>
</Layout>
