---
import Layout from "../layouts/Layout.astro";
import AppHeader from "../components/AppHeader.astro";
import HeroSection from "../components/HeroSection.astro";
import CallToAction from "../components/CallToAction.astro"; // <-- Aggiunto import

import translations from "../languages.json";
const lang = "it";
const t = translations[lang];
---

<Layout lang={lang}>
  <AppHeader />
  
  <main class="space-y-10">
    <HeroSection t={t} />
    
    {/* Features le mettiamo dopo, stiamo andando per gradi */}
    
    <CallToAction t={t} /> {/* <-- Aggiunto componente */}
  </main>
</Layout>
